/* //////////////////////////////////////////////////////////////////////
///
///         GENERAL
///
////////////////////////////////////////////////////////////////////// */


/*div {
    border: 1px solid red;
}*/

body {
  background-image: url('/img/background.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

header {
  vertical-align: top;
  background-color: #FAFAFAFA;
  position: sticky;
  top: 0;
  padding: 10px;
}

p {
  text-align: justify;
}

header-logo {
  display: inline-block;
}

h1.header-title {
  color: #444444;
  margin: 0;
  display: inline-block;
  font-size: 4em;
}

.header-profil {
  vertical-align: bottom;
}


.paragraph {
    text-align: justify;
}

/* //////////////////////////////////////////////////////////////////////
///
///         MENU PRINCIPAL
///
////////////////////////////////////////////////////////////////////// */



.main-menu {
  background-color: #FFFFFFD0;
  /*padding: 15px;*/
}

.menu-maths, .menu-info {
  height: 100%;
}

.menu-title {
  text-align: center;
  font-size: 3em;
  margin: 0px;
}

.menu-desc {
  text-align: justify;
  font-size: 1.2em;
}

.menu-bouton {
  width: 100%;
  margin: 15px 0px;
}
