/* //////////////////////////////////////////////////////////////////////
///
///         MENU PRINCIPAL
///
////////////////////////////////////////////////////////////////////// */



.main-menu {
  background-color: #FFFFFFD0;
  border-radius: 5px;
  /*padding: 15px;*/
}

.menu-maths, .menu-info {
  height: 100%;
}

.menu-title {
  text-align: center;
  font-size: 3em;
  margin: 0px;
  margin-top: 5px;
}

.menu-desc {
  text-align: justify;
}

.menu-bouton {
  width: 100%;
  margin: 15px 0px;
}
